[submodule "crypto-app/Enclave/hacl-c"]
	path = crypto-app/Enclave/hacl-c
	url = https://github.com/paparazzi/hacl-c.git
[submodule "external/sgx-step"]
	path = external/sgx-step
	url = https://github.com/jovanbulck/sgx-step.git
