# Ignore object files, binaries, temp files
*.o
*.elf
*.swp
*.a
*.d
*.dump

map_rips
run

analyze_text_section
sdk_enlave_dump.txt

# Ignore .vscode folder
*.vscode

# Ignore external folder
#external/


# Ignore 'app' file inside any subdirectory (e.g., app/app)
**/app

# Don't ignore app folder
!app/

# Ignore the build script
local_build_test.sh

